rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth.uid != null;
      allow update, create: if request.auth.uid == userId;
      match /{allSubcollections=**} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == userId;
      }
    }
    match /events/{eventId} {
    allow read;
    allow create: if request.auth.uid != null;
    // allow update: if resource.data.hostUid == request.auth.uid;
       allow update: if true;
    allow write: if request.auth.uid != null
    && (('attendees.' + request.auth.uid) in request.writeFields)
    || (('attendees.' + request.auth.uid + '.photoURL') in request.writeFields)
    }
    match /event_attendee/{allDocs=**} {
    allow read, write: if request.auth.uid != null;
    }
    match /activity/{allDocs=**} {
    allow list: if request.query.limit <= 5
    }
  }
}